 *{
    margin:0;
    padding: 0;
    font-family: serif;
}
.logo{
    margin:15px;
    padding: 15px;
    border-radius: 50%;
    width: 75px;
    cursor: pointer;
}
#bg{
    background-repeat:no-repeat;
    background-size:cover;
}
/*Navigation Bar*/
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform:capitalize;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #77c7b0;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-size: cover; /*to fill the image */
    background-position: center; /*to center the image */
}
.form-box{
    width:354px;
    height:467px;
    position:relative;
    margin:6% auto;
    background: #fff;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;;
}
.button-box{
    border-radius: 30px;
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 30px 9px #7db097;
}
.toggle-btn{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right,  #216e49,#7db097);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right:  0;
    border-bottom:  1px solid #999;
    outline: none;
    background: tra;
}

.submit-btn{
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    background:linear-gradient(to right, #216e49,#7db097);
    border: 0;
    outline: none;
    border-radius: 30px;
    justify-content: center;

}
#login{
    left: 50px;

}
#register{
    left: 450px;

}